<?xml version="1.0" encoding="utf-8"?>
<launch>

  <!-- lower png_level from realsense camera, so that png compression can be real time. -->
  <!-- default (1) can only be published at 5Hz. range of png_level is 1-9 -->
  <node pkg="dynamic_reconfigure" type="dynparam" name="dynparam" output="screen"
    args="set /realsense_d435/aligned_depth_to_color/image_raw/compressedDepth png_level 1" >
  </node>

  <node pkg="dynamic_reconfigure" type="dynparam" name="dynparam_forward" output="screen"
    args="set /realsense_d435_forward/aligned_depth_to_color/image_raw/compressedDepth png_level 1" >
  </node>

  <!--Note: recording location consistent with the ORI Anymal wiki page:
      https://wiki.oxfordrobots.com/display/DRS/Anymal-->
  <node name="rosbag" pkg="rosbag" type="record"
    args="-o $(env HOME)/logs/raw/anymal.bag
    /rosout_agg
    /anymal_highlevel_controller/actuator_commands
    /anymal_lowlevel_controller/actuator_readings
    /anymal_lowlevel_controller/actuator_readings_extended_throttled

    /elevation_mapping/elevation_map

    /loco_ros/desired_contact_force_lf
    /loco_ros/desired_contact_force_lh
    /loco_ros/desired_contact_force_rf
    /loco_ros/desired_contact_force_rh
    /loco_ros/desired_linear_acceleration_lf
    /loco_ros/desired_linear_acceleration_lh
    /loco_ros/desired_linear_acceleration_rf
    /loco_ros/desired_linear_acceleration_rh
    /loco_ros/desired_linear_velocty_lf
    /loco_ros/desired_linear_velocty_lh
    /loco_ros/desired_linear_velocty_rf
    /loco_ros/desired_linear_velocty_rh
    /loco_ros/desired_torso_acceleration
    /loco_ros/desired_torso_angular_velocity
    /loco_ros/desired_torso_linear_velocity
    /loco_ros/dynamics/center_of_mass
    /loco_ros/dynamics/inertia_ellipsoid
    /loco_ros/foothold_polygon_line
    /loco_ros/foothold_search_radius
    /loco_ros/friction_cones
    /loco_ros/friction_pyramids
    /loco_ros/gait_patterns
    /loco_ros/inverted_pendulum_footholds
    /loco_ros/measured_contact_force_lf
    /loco_ros/measured_contact_force_lh
    /loco_ros/measured_contact_force_rf
    /loco_ros/measured_contact_force_rh
    /loco_ros/measured_foot_positions
    /loco_ros/measured_mainbody_gravity_angular
    /loco_ros/measured_mainbody_gravity_linear
    /loco_ros/net_virtual_force
    /loco_ros/net_virtual_torque
    /loco_ros/planned_foot_positions
    /loco_ros/planned_footholds
    /loco_ros/polygon_footholds
    /loco_ros/polygon_gridmap
    /loco_ros/support_polygon
    /loco_ros/swing_traj
    /loco_ros/terrain_model
    /loco_ros/torso
    /loco_ros/virtual_force
    /loco_ros/virtual_torque
    /loco_ros/whole_body_com
    /loco_ros/zero_one_footholds

    /realsense_d435_forward/color/camera_info
    /realsense_d435_forward/color/image_raw/compressed
    /realsense_d435_forward/aligned_depth_to_color/camera_info
    /realsense_d435_forward/aligned_depth_to_color/image_raw/compressedDepth

    /realsense_d435/color/camera_info
    /realsense_d435/color/image_raw/compressed
    /realsense_d435/aligned_depth_to_color/camera_info
    /realsense_d435/aligned_depth_to_color/image_raw/compressedDepth

    /sensors/battery_voltage
    /state_estimator/actuator_readings
    /state_estimator/contact_force_lf_foot
    /state_estimator/contact_force_lh_foot
    /state_estimator/contact_force_rf_foot
    /state_estimator/contact_force_rh_foot
    /state_estimator/force_calibrator_commands
    /state_estimator/global_localization_state
    /state_estimator/imu
    /state_estimator/init_pose_in_map
    /state_estimator/joint_states
    /state_estimator/log/EstimatorActuatorReadingsMisscount
    /state_estimator/log/EstimatorActuatorReadingsPublisherMissCount
    /state_estimator/log/EstimatorImuMissCount
    /state_estimator/log/EstimatorImuPublisherMissCount
    /state_estimator/log/EstimatorIterDurationMs
    /state_estimator/log/EstimatorQuadrupedStatePublisherMissCount
    /state_estimator/log/EstimatorQuadrupedStateThrottleMissCount
    /state_estimator/log/EstimatorUpdateDurationMs
    /state_estimator/log/imuAngularVelocityBias
    /state_estimator/log/imuAngularVelocityBiasCovarianceDiagonal
    /state_estimator/log/imuLinearAccelerationBias
    /state_estimator/log/imuLinearAccelerationBiasCovarianceDiagonal
    /state_estimator/pose_in_map
    /state_estimator/pose_in_map_ga
    /state_estimator/pose_in_odom
    /state_estimator/quadruped_state
    /state_estimator/twist
    /state_estimator/use_pose_meas
    /tf
    /tf_static
    /velodyne/point_cloud_filter/crop_box/parameter_descriptions
    /velodyne/point_cloud_filter/crop_box/parameter_updates
    /velodyne/point_cloud_filtered

    /position_controller/current_goal
    /position_controller/footstep_plan_request
    /position_controller/footstep_plan_request_list
    /position_controller/parameter_descriptions
    /position_controller/parameter_updates
    /position_controller/position_controller_cmd
    /position_controller/remaining_goals
    /position_controller/starting_pose
    /position_controller/velocity_combined
    /position_controller/velocity_goal
    /position_controller/velocity_trackline
    /position_controller/visualization_marker

    /free_gait_action_loader/drs_steps/goal_pose
    /free_gait_action_loader/drs_steps/goal_footstep_plan
    /free_gait_action_loader/drs_steps/support_margin
    /free_gait_action_loader/drs_steps/reached_pose
    /free_gait_action_loader/drs_steps/goal_footstep_markers
    /free_gait_action_loader/drs_steps/remaining_steps

    /free_gait_action_loader/drs_walk/goal_pose
    /free_gait_action_loader/drs_walk/remaining_steps
    /goal

    /locomotion_planner/current_goal
    /drs_walk/current_goal
    /multi_gait/current_execution_queue
    /multi_gait/current_planner_queue
    /multi_gait/drs_steps/goal_footstep_plan
    /multi_gait/drs_steps/goal_footstep_plan_markers

    /localization_manager/map_in_odom
    /icp_tools/map_pose
    
    /aicp/aligned_cloud
    /aicp/aligned_map
    /aicp/footstep_plan_request_list
    /aicp/pose_corrected
    /aicp/poses
    /aicp/prior_map
    /aicp/go_back_request

    " output="screen">
  </node>
</launch>
