<?xml version="1.0" encoding="utf-8"?>

<launch>

  <arg name="rviz"                                  default="true"/>
  <arg name="rviz_minimal"                          default="true"/>
  <arg name="quadruped_name"                        default="anymal"/>
  <arg name="quadruped_setup" default="minimal_mb_inspection_v_1_2"/>
  <arg name="description_name"                      default="quadruped_description"/>
  <arg name="world"                                 default="empty"/>

  <param name="use_sim_time" value="true" />

  <!-- Load robot description -->
  <include file="$(find anymal_boxy_description)/launch/load.launch">
    <arg name="description_name" value="$(arg description_name)"/>
    <arg name="simulation"       value="false"/>
    <arg name="velodyne"         value="true"/>
    <arg name="realsense"        value="true"/>
  </include>

  <arg name="rviz_config_path"        default="$(find aicp_ros)/config/rviz/config_aicp.rviz"/>

  <!-- rviz -->
  <group if="$(arg rviz)">
    <include file="$(find anymal_rviz_visualization)/launch/rviz.launch">
      <arg name="rviz_world_path"  value="$(arg world)"/>
      <arg name="rviz_config_path"      value="$(arg rviz_config_path)"/>
      <arg name="tf_minimal"       value="false"/>
    </include>
  </group>

</launch>
