<?xml version="1.0" encoding="utf-8"?>
<!-- Mode: requires no prior map. Builds map on the fly and localizes against it -->

<launch>

  <arg name="load_map_from_file"           default="false"/>
  <arg name="localize_against_map"         default="false"/>

  <include file="$(find aicp)/launch/aicp.launch"> 
    <arg name="load_map_from_file"         value="$(arg load_map_from_file)"/>
    <arg name="localize_against_map"       value="$(arg localize_against_map)"/>
  </include>

</launch>
