<?xml version="1.0" encoding="utf-8"?>

<launch>

  <!-- Run AICP (command line configuration) -->
  <node pkg="aicp" type="aicp_ros_online" name="aicp_ros_online" output="screen">

    <!-- In ROS should always be set to debug mode -->
    <param name="working_mode"                  value="debug" />
    
    <!-- Fixed frame (default: map, debug: map_test -->
    <param name="fixed_frame"                   value="map" />

    <!-- Prior map info -->
    <param name="load_map_from_file"            value="true" />
    <param name="localize_against_map"          value="true" />

    <!-- Prior map params -->
    <param name="crop_map_around_base"          value="15.0" /> <!-- box dimesions: value*2 x value*2 -->
                                                                <!-- 15.0 to generate Ground Truth (David IROS19) -->
    <param name="merge_aligned_clouds_to_map"   value="true" /> <!-- true to generate Ground Truth (David IROS19) -->

    <!-- Reference update policy -->
    <param name="failure_prediction_mode"       value="false" />
    <param name="reference_update_frequency"    value="5" />

    <!-- Max allowed correction magnitude (probably failed alignment otherwise) -->
    <param name="max_correction_magnitude"      value="1.5" /> <!-- 1.5 to generate Ground Truth (David IROS19) -->
    
    <!-- 3D point cloud characteristics -->
    <param name="batch_size"                    value="7" />
  	
  	<!-- Visualize and store -->
    <param name="verbose"                       value="true" />

  </node>

</launch>
